:root {
    --cor01: #260124;
    --cor02: #f266e9;
    --cor03: #d973d2;
    --cor04: #f2f2f2;
    --cor05: #0D0D0D;
  }
*{
    box-sizing: border-box;
    font-family:sans-serif;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor04);
}

.wrapper{
    margin: 100px;
    display: flex;
    width:60%;
    justify-content: space-around;
}

.card9{
    width: 280px;
    height: 500px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5 ease-in-out;
}

.card9:hover{
    transform: translateY(20px);
}

.card9:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradientto bottom, var(--cor02), var(--cor01);
    z-index: 2;
    transition: 0.5s all;
    opacity: 1;
}  

.card9:hover:before{
    opacity: 1;
}

.card9 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card9 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 1;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card9 .info .btn{
    text-decoration:none;
    padding: 0.5rem 1rem;
    background: var(--cor03);
    color:#000;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
@media(max-width:993px){
    .wrapper {
        margin-top: 50%px;
        flex-direction: column;
        align-items: center;
    }
    .card9{
        margin: 50px;
    }
}

@media(max-width:350px){
    .card9{
        width: 100%;
    }
}